# Dependencies
node_modules

# Build outputs
/dist
/.vite
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
.DS_Store

# Coverage
coverage/

# Docker
*.pid
